<section class="p-4 m-1 col-sm-6 mx-auto border border-primary">
    <app-msg-box [isError]="true" *ngIf="err">
        {{err}}
    </app-msg-box>

    <div class="card card-primary">
        <div class="card-body p-3">
            <form class="form-inline" (ngSubmit)="handleFormSubmit()">
                <input type="email" placeholder="email" name="tb1" class="form-control mr-1" [(ngModel)]="email" required />
                <input type="password" placeholder="password" name="tb2" class="form-control mr-1" [(ngModel)]="password"
                    required />
                <button class="btn btn-sm btn-primary">Sign In</button>
            </form>
        </div>
    </div>
</section>