<section class="card border border-4 p-2 m-2">
    <form class="form-inline p-1 m-1" (ngSubmit)="formSubmited()">
        <label>Lower Bound </label>
        <input type="number" name="tb1" [(ngModel)]="lb" class="form-control mr-2" />
        <label>Upper Bound </label>
        <input type="number" name="tb2" [(ngModel)]="ub" class="form-control mr-2" />
        <label class="mr-2">
            <input type="checkbox" name="c1" [(ngModel)]="squared"/> Do Squaring
        </label>
        <label class="mr-2">
            <input type="checkbox" name="c2" [(ngModel)]="evened"/> Evens Only
        </label>
        <button class="btn btn-sm btn-primary" [disabled]="isJobInProgress">Generate</button>
    </form>
    <div class="card border border-2 p-1 m-1" *ngIf="err || (result && result.length>0)">
        <p *ngIf="err"><strong>{{err}}</strong></p>
        <div *ngIf="result && result.length>0">
            <span *ngFor="let n of result">{{n}},&nbsp;</span>
        </div>
    </div>
</section>